@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.selectForm {
	padding-top: 30px;
	padding-bottom: 20px;
	max-width: 300px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.selectheader {
	font-family: 'GmarketSansMedium';
	text-align:center;
}

.selectbtn {
	background-color: #A4A4A4;
	border: none;
	color: white;
	border-radius: 5px;
	width: 90%;
	height: 35px;
	font-size: 14pt;
	margin-top: 40px;
	margin-left: 15px;
	cursor: pointer;
}

.selectbtn:hover {
	color: #fff;
	background-color: #848484;
}