* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.header {
	height: 100px;
}

.content {
	min-width: 1000px;
	margin-top: 10px;
	margin-bottom: 100px;
}

.content > div {
	margin: 0 auto;
	padding: 0 auto;
}

.fieldError {
	color: #bd2130;
	font-size: 0.9em;
	margin-left: 10px;
	margin-top: -10px;
}


@media print {
	
	.header, .footer {
		display:none
	}
	
}