@charset "UTF-8";

@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.slide_wrap {
  	display: flex;
  	overflow: hidden;
  	position: relative;
  	width: 100%;
  	min-width: 1270px;
  	user-select: none;
}

.slide_item {
  	flex-wrap: nowrap;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	left: 0px;
  	width: 100%;
  	height: 100%;
  	flex-shrink: 0;
 	transition: left 0.5s; 
}

.main-slide-img {
	width: 100%;
	height: 470px;
	margin-left: 1px;
	margin-right: 1px;
	/* border-right: 2px solid white;
	border-left: 2px solid white; */
}

.slide_button {
 	align-items: center;
 	width: 250px;
 	height: 100%;
 	background-color: #cccc;
 	cursor: pointer;
}

.slide_prev_button {
	position: absolute;
	background-color: transparent;
  	justify-content: flex-start;
} 

.slide_next_button {
	position: absolute;
 	background-color: transparent;
 	left: 1150px;
}  

/* 페이지네이션 스타일 */
.slide_pagination {
	gap: 10px;
	display: flex;
	position: absolute;
	/* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
	left: 50%;
	transform: translateX(-50%);
}


.slide_pagination_div {
	
}

.slide_pagination > li {
	vertical-align: middle;
	list-style: none;
	color: #7fb5ff88;
	cursor: pointer;
	font-size: 25px;
}

.slide_pagination > li.active {
	list-style:none;
	color: #7fb5ff;
}

.acc_main_notice {
    width: 1400px;
    height: 500px;
    box-sizing: border-box;
    margin: auto;
    font-family: Pretendard-Regular;
}

.acc_main_notice_inner {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acc_main_notice_inner .acc_main_notice_left a, .acc_main_notice_inner .acc_main_notice_right a {
	color: #333;
}

.acc_main_notice_left {
    width: 600px;
    height: 400px;
}

.acc_main_notice_left h2 {
    padding-left: 10px;
    display: inline-block;
}

.acc_main_notice_left > a {
    float: right;
    margin-top: 7px;
    padding-right: 10px;
    transition: 0.2s;
}

.acc_main_notice_left > a:hover, .acc_main_notice_right > a:hover {
    font-weight: bold;
}

.acc_main_notice_left_box a {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    margin-top: 5px;
    transition: 0.2s;
}

.acc_main_notice_left_box a:first-child {
    border-top: 3px solid #333;
}

.acc_main_notice_left_box a:hover {
    font-weight: bold;
}

.acc_main_notice_left_box a em {
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400px;
}

.acc_main_notice_left_box a b {
    font-weight: normal;
}

.acc_main_notice_right {
    width: 600px;
    height: 400px;
}

.acc_main_notice_right h2{
    padding-left: 10px;
    display: inline-block;
}

.acc_main_notice_right > a {
    float: right;
    margin-top: 7px;
    padding-right: 10px;
    transition: 0.2s;
}

.acc_main_notice_right_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #333;
    margin-top: 5px;
}

.acc_main_iframe {
	margin-top: 10px;
}

.inner_box {
    border: 2px solid lightgray;
    width: 120px;
    height: 180px;
    box-shadow: 2px 2px 5px gray;
    transition: 0.3s;
}

.inner_box:hover {
    box-shadow: 2px 2px 8px #333;
}

.inner_box a {
    width: 120px;
    height: 180px;
    display: inline-block;
    text-align: center;
}

.inner_box a img {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    transition: 0.3s;
}

.inner_box a:hover img {
    color: #fd5e15;
    animation: innericon 1s infinite;
    transition: 0.3s;
}

@keyframes innericon {
    0%{
        padding-top: 20px;
    }
    
    25%{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    50%{
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    75%{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    100%{
        padding-top: 20px;
    }
}

.inner_box a p {
	font-size: 18px;
    padding-top: 20px;
    transition: 0.3s;
}

.inner_box a:hover p {
    color: #fd5e15;
}



/* quickLink */
.acc-main-quickLink {
	position: relative;
	margin: 85px 0 64px;
	z-index: 2;
}

.acc-main-quickLink .acc-main-quickLinkWrap {
	max-width: 1500px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	justify-content: center;
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider {
	width: 100%;
	height: 105px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider .acc-main-slider-item {
	display: inline-block;
	width: 10%;
	transition: 0.7s;
}

.acc-main-slider-item a {
	color: #333;
}

.acc-main-slider-item:hover {
	/* font-weight: bold; */
	color: #999;
	/* outline: 1px solid #999; */
	transform: scale(1.2);
	z-index: 2;
	/* box-shadow: 2px 2px 2px #000; */
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a {
	display: block;
	padding-top: 78px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	color: #040404;
	font-size: 17px;
	letter-spacing: -1px;
	letter-spacing: -0.03em;
	font-family: Pretendard-Regular;
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q1 {
	background-image: url(/images/main/icon_quick_link01.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q2 {
	background-image: url(/images/main/icon_quick_link02.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q3 {
	background-image: url(/images/main/icon_quick_link03.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q4 {
	background-image: url(/images/main/icon_quick_link04.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q5 {
	background-image: url(/images/main/icon_quick_link05.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q6 {
	background-image: url(/images/main/icon_quick_link06.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q7 {
	background-image: url(/images/main/icon_quick_link07.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q8 {
	background-image: url(/images/main/icon_quick_link08.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a.q14 {
	background-image: url(/images/main/icon_quick_link14.png);
}

.acc-main-quickLink .acc-main-quickLinkWrap .acc-main-slider a span {
	display: block;
	width: 35px;
	margin: 14px auto 0;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-left: 2px;
	border-bottom: 1px solid #979797;
	background-image: url(/include/info/images/main/bg_go_arrow.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: #8d8d8d;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.acc-main-quickLink .acc-main-slideControl {
	display: inline-block;
	position: relative;
	margin-top: 30px;
	padding: 0 3em;
}









































.slider{
margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23E3C9;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 100%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 100%;
  transition: 2s;
}

.slide img{
  width: 1800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -100%;
}

#radio3:checked ~ .first{
  margin-left: -200%;
}

#radio4:checked ~ .first{
  margin-left: -300%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}
