/* layout */
button {
	border: 0;
	cursor: pointer;
}

a {
	color: #fff;
	text-decoration: none;
	line-height: 3;
}

.wrap {
	height: 100%;
}

.content {
	position: relative;
	height: 100%;
}

.content .section {
	height: 100%;
}

.content .con1 {
	background-color: #877249;
}

/* .content .con2 {
	background-color: #593d91;
}

.content .con3 {
	background-color: #ed6cc3;
}

.content .con4 {
	background-color: #089191;
} */

/* style */
.box-shortcut {
	position: fixed;
	right: 50px;
	top: 50%;
	z-index: 9000;
}

.box-shortcut {
	border-radius: 10px;
	background: #fff
}

.box-shortcut .menu>li>a {
	display: block;
	padding: 10px;
	box-sizing: border-box;
}

.box-shortcut .menu>li>.on {
	background: #cb2256;
}

.box-shortcut .btn-scroll-top {
	padding: 10px;
	background: #aa1845;
}

.box-shortcut .btn-scroll-top {
	color: #fff;
	width: 61px;
}

.btn-img {
	width: 6px;
}