<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">
<head>
	<link th:href="@{/css/boardDetail.css}" rel="stylesheet">
</head>
<div layout:fragment="content" class="all">

	<form class="boardList" role="form" method="get" action="/boards">
	
		<table style="width:100%;">
			<thead style="width:100%;">
				<tr style="width:100%;">
					<th style="width:20%;">글번호</th>
					<!-- <th style="width:20%;">썸네일</th> -->
					<th style="letter-spacing: 25px; width:40%;">제목</th>
					<th style="width:20%;">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board:${boardList}">
					
					
					<td style="width:20%;" th:text="${board.num}">글번호</td>
					<!-- <td style="width:20%;" class="group-list">
						<a th:href="@{/boards/detail/{num}(num=${board.num})}">
						<img th:src="${board.attachList[0].url}" class="thumbImg" 
							th:alt="${board.name}"></a>
					</td> -->
					<td style="text-align:left; width:40%;">
						<a th:text="${board.name}" 
							th:href="@{/boards/detail/{num}(num=${board.num})}">제목</a>
					</td>
					<td style="width:20%;" th:text="${board.cnt}">조회</td>

				</tr>
			</tbody>



		</table>
		<div class="group-list pagebtn">
			<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
				<a th:if="${page==0? page==1 : page != nowPage}"
					th:href="@{/boards/lists(page=${page-1})}" th:text="${page}"></a>
				<strong th:if="${page==nowPage}" th:text="${page}"
					style="width:100%; color:darkslateblue; font-size:2em;"></strong>
			</th:block>
		</div>
		<div class="group-list paging">
			<div class="group-list write">
				<a href="/boards/write">글쓰기</a>
			</div>
		</div>


	</form>
</div>
</html>