<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>헤더 영역</title>
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/menu.css}" rel="stylesheet">
</head>
<body>
	<!-- header -->
	<header>
			<div class="container">
				<h1>
					<button data-animation-scroll="true" data-target="#main">
						<img
							src="https://www.acc.go.kr/include/main/images/common/logo_kr_black.png?v=0.1">
					</button>
				</h1>

				<ul>
					<li><a href="#">상품 등록</a></li>
					<li><a href="#">상품 관리</a></li>
					<li><a href="#">장바구니</a></li>
					<li><a href="#">구매이력</a></li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" href="/members/login">로그인</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a
						class="nav-link" href="/members/logout">로그아웃</a></li>
				</ul>


				<nav>
					<ul>
						<li>
							<button data-animation-scroll="true" data-target="#about">
								<a href="https://blog.naver.com/asiaculturecenter"
									target="_blank"><img
									src="https://www.acc.go.kr/include/main/images/common/icon_sns01.png"
									alt="네이버블로그"></a>
							</button>
						</li>
						<li>
							<button data-animation-scroll="true" data-target="#features">
								<a href="https://www.facebook.com/asiaculturecenter/"
									target="_blank"><img
									src="https://www.acc.go.kr/include/main/images/common/icon_sns02.png"
									alt="페이스북"></a>
							</button>
						</li>
						<li>
							<button data-animation-scroll="true" data-target="#portfolio">
								<a href="https://www.instagram.com/asiaculturecenter/"
									target="_blank"><img
									src="https://www.acc.go.kr/include/main/images/common/icon_sns03.png"
									alt="인스타그램"></a>
							</button>
						</li>
						<li>
							<button data-animation-scroll="true" data-target="#contact">
								<a href="https://twitter.com/WeloveACC" target="_blank"><img
									src="https://www.acc.go.kr/include/main/images/common/icon_sns04.png"
									alt="트위터"></a>
							</button>
						</li>
						<li>
							<button data-animation-scroll="true" data-target="#contact">
								<a
									href="https://www.youtube.com/channel/UCdSyGG-j_ORzUBS_VuUU4zQ"
									target="_blank"><img
									src="https://www.acc.go.kr/include/main/images/common/icon_sns05.png"
									alt="유튜브"></a>
							</button>
						</li>
					</ul>
				</nav>
			</div>
	</header>
	<!-- //end header -->
</body>
</html>