<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout1}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
	<script th:src="@{/js/myPage.js}" type="text/javascript"></script>
</head>

<th:block layout:fragment="css">	
	<style>

	</style>
</th:block>
<body>
<div layout:fragment="content">
<link th:href="@{/css/myReservation.css}" rel="stylesheet">
	<article class="myReservationForm-board">
		<div class="myReservationForm-header-div">
			<a class="myReservationForm-header-inner1" th:href="@{/members/myPage}">
				<span>
					<h1 class="myReservationForm-header-inner1-h1">My Page</h1>
				</span>
			</a>
			<a class="myReservationForm-header-inner2" th:href="@{/reservations/myReservation}">
				<span>
					<h1 class="myReservationForm-header-inner2-h1">Reservation</h1>
				</span>
			</a>
		</div>
		<section class="myReservationForm-contents">
			<form action="/members/cancleMyReservation" role="form" method="post" class="myReservation">
			
				<div class="myReservationForm-titleDiv">
					<span class="myReservationForm-h4-bigger" th:text="${reservations[0].member.name}"></span>
					<span class="myReservationForm-h4">님 예매 내역</span>
				</div>
				<table class="myReservationForm-table">
                	<thead>
                        <tr class="myReservationForm-tr">
                        	
                            <th class="myReservationForm-name reservation-th">상품명</th>
                            <th class="myReservationForm-rdate reservation-th">예매일</th>
                            <th class="myReservationForm-udate reservation-th">관람일</th>
                            <th class="myReservationForm-place reservation-th">장소</th>
                            <th class="myReservationForm-seat reservation-th">좌석</th>
                            <th class="myReservationForm-stat reservation-th">상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="myReservationForm-tr" th:each="reservation:${reservations}">
                            
                            <td class="myReservationForm-name reservation-td"th:text="${reservation.application.name}">상품명</td>
                            <td class="myReservationForm-rdate reservation-td" th:text="${reservation.rdate}">예매일</td>
                            <td class="myReservationForm-udate reservation-td" th:text="${reservation.application.udate}">관람일</td>
                            <td class="myReservationForm-num reservation-td" th:text="${reservation.application.place}">장소</td>
                            <td class="myReservationForm-num reservation-td" th:text="${reservation.seat}">좌석</td>
                            <td class="myReservationForm-stat reservation-td" th:text="${reservation.stat}">상태</td>
                            <td class="myReservationForm-stat reservation-td"><button>취소</button>
                        </tr>
                    </tbody>
                </table>
				<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
			
			</form>
		</section>
	</article>
	
</div>
</body>
</html>