<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Title</title>

<!-- CSS only -->
<link th:href="@{/css/layout1.css}" rel="stylesheet">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- 우편번호 찾기 때 사용 -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="/js/signUpForm.js"></script>

<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="css"></th:block>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	
	<div><a href="/boards/lists">게시판 가보싈?</a></div>
	
	<div layout:fragment="content" class="content"></div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>