<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">
	  
<head>
	<meta charset="UTF-8">
	<title>Print Ticket</title>
	<link th:href="@{/css/printTicket.css}" rel="stylesheet">
</head>

<th:block layout:fragment="script">
<script th:inline="javascript">






/* var prtContent; // 프린트 하고 싶은 영역
var initBody;  // body 내용 원본

// 프린트하고 싶은 영역의 id 값을 통해 출력 시작
function startPrint (printArea) {
	prtContent = document.getElementById(printArea);
	window.onbeforeprint = beforePrint;
	window.onafterprint = afterPrint;
	window.print();
}

// 웹페이지 body 내용을 프린트하고 싶은 내용으로 교체
function beforePrint(){
	initBody = document.body.innerHTML;
	document.body.innerHTML = prtContent.innerHTML;
}

// 프린트 후, 웹페이지 body 복구
function afterPrint(){
	document.body.innerHTML = initBody;
} */

</script>

</th:block>

<body>
	<div layout:fragment="content">
		<article class="printTicketForm-board">
		

			<h1 class="printTicketForm-title-h1">Print Ticket</h1>
			<section class="printTicketForm-contents">
				<form role="form" class="printTicketForm">
				<div class="printTicketForm-tile">
					<img class="printTicketForm-headImg" th:src="@{/images/ticket/ticket-headImg.jpg}">
				</div>
				
				<div class="printTicketForm-inner-list-content">
				
					<div class="printTicketForm-inner-name">
						<h3 th:text="${printTicketInfo.application.name}"></h3>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="'티켓번호 ' + ${printTicketInfo.num}"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.application.rat}"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.application.place}"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.application.udate}"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.cnt} + '명'"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.price} + '원'"></h4>
					</div>
					<div class="printTicketForm-inner" th:if="${not #strings.isEmpty(printTicketInfo.seat)}">
						<h4 th:text="'좌석 ' + ${printTicketInfo.seat}"></h4>
					</div>
					<div class="printTicketForm-inner">
						<h4 th:text="${printTicketInfo.member.id}"></h4>
					</div>

				</div>
				
				<div class="printTicketForm-inner-list-footer">
				
					<div class="printTicketForm-inner-footer">
						<h4 class="printTicketForm-homeaddr">https://www.acc.go.kr</h4>
						<img class="printTicketForm-QRImg" th:src="@{/images/ticket/acc-QR.png}">
					</div>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				
			</form>
			
		</section>

			<span class="printTicketForm-Btn">
				<button class="printTicketForm-submit" onclick="window.print()">인쇄</button>
			</span>
			<span class="printTicketForm-Btn">
				<button class="printTicketForm-submit" onclick="history.go(-1)">돌아가기</button>
			</span>
		</article>
	</div>
</body>

</html>