<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<link th:href="@{/css/noticeDetail.css}" rel="stylesheet">
</head>

<div layout:fragment="content">
<article class="noticeDetail-board">
	<form method="get" action="/notices/detail" role="form">
		<!-- <input type="hidden" id="mem_num" th:value="${noticeDto.mem_num}"> -->
		<input type="hidden" id="noticeNum" th:value="${noticeDto.num}">
		
		<div class="detail-header">
           <p><a href="/">Home</a> > <strong>공지사항</strong></p>
		</div>
		
		
		<div class="title-wrapper">
			<div class="detail-title">
				<h1 th:text="${noticeDto.name}"></h1>
			</div>
		</div>
		<div class="view-wrapper">
			<div >
				<span class="view-date"  th:text="${#temporals.format(noticeDto.regTime, 'yyyy-MM-dd')}"></span>
				<span class="view-views" th:text="${noticeDto.cnt}"></span>
				<span class="view-text">view</span>
			</div>
		</div>
			
		<div>
			<div class="bodyContent">
				<pre><span class="bodyContent_inner" th:text="${noticeDto.content}"></span></pre>	
			</div>
		</div>
		
		<div>
			<div class="notice-download">
				<span class="notice-download-text">첨부파일</span>
				<span class="notice-download-inner" th:each="attach : ${noticeDto.attachDtoList}">
					<a th:href="@{/download/{num}(num=${attach.num})}" th:text="${attach.oriName}"></a>
				</span>
			</div>
		</div>
		
		<div class="button-wrapper">
		<div>
			<div class="group-button" th:if="${username} == 'admin'">
			<div class="du-group-button">
			<span class="l-button">
				<a class="back-to-list" th:href="@{/notices/modNotice/{num}(num=${noticeDto.num})}">수정</a>
			</span>
		
			<span class="l-button" th:if="${username} == 'admin'">
				<a class="back-to-list" th:href="@{'/notices/deleteNotice/' + ${noticeDto.num}}" id="succSubmit">삭제</a>
				
			</span>
			</div>
			</div>
		</div>
		
		<a th:href="@{/notices/lists}" class="back-to-list">목록</a>
			
		<div class="detailPrev">
			<ul class="detailPrev_inner">
				<li>
					<a th:href="@{/notices/detail/{num}(num=${noticeDto.num-1})}">
						<span th:if="${noticeDto.num-1 != 0}">
							<span class="detailPrev inner_text" th:if="${noticeDto.allNoticeCnt >= noticeDto.num}">이전글</span>
							<span class="detailPrev inner_text" th:text="${noticeDto.prevContent}"></span>
						</span>
					</a>
				</li>
				
				<li>
					<a th:href="@{/notices/detail/{num}(num=${noticeDto.num+1})}">
						<span class="detailNext inner_text" th:if="${noticeDto.allNoticeCnt > noticeDto.num}">다음글</span>
						
						<span class="detailNext inner_text" th:text="${noticeDto.nextContent}"></span>
					</a>
				</li>
				 
			</ul>
		</div>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
	</article>
	<script th:src="@{/js/noticeDetailForm.js}" type="text/javascript"></script>
</div>

</html>