.noticeForm {
	width: 80%;
	min-width: 870px;
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
}

.noticeForm-wrapper{
	margin-top: 30px;
}

.noticeFrom-mod-title {
	width: 99%;
	padding: 5px;
	margin-bottom: 30px;
}

.noticeFrom-mod-content {
	width: 100%;
	margin-bottom: 30px;
	height:300px;
}

.noticeFrom-btn{
	width:70px;
	height:25px;
}