@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
	padding: 50px 5%;
	margin: 0 auto;
}

.vocForm-title h4 {
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: center;
}


button {
	display: inline-block;
	height: 50px;
	font-size: 1rem;
	font-weight: bold;
	background: none;
	border-radius: 5px;
	border: 1px solid #aaa;
	transition: 0.4s;
	cursor: pointer;
}

button:hover {
	background: #222;
	color: #fff;
}

input::placeholder, textarea::placeholder {
	color: #888;
}

li {
	list-style: none;
}

.fieldError {
	color: #bd2130;
}

.vocForm-title-h1 {
	font-family: Pretendard-Regular;
	font-size: 3rem;
	line-height: 3.5rem;
	padding-bottom: 40px;
	text-align: center;
}

.vocForm {
	margin-left: 220px;
	margin-right: 220px;
	margin-bottom: 220px;
	border-radius: 10px;
	border: 1px solid #999;
	padding: 50px 5%;
}

.vocForm-container {
	padding-top: 30px;
}

.vocForm-txt {
	padding-top: 20px;
}

input {
	font-family: Pretendard-Regular;
	height: 40px;
	font-size: 1rem;
	padding-left: 7px;
}

textarea {
	border: 1px solid #bbb;
	border-radius: 5px;
	width: 100%;
	height: 200px;
	padding: 10px 0 0 7px;
	resize: none;
	font-size: 1rem;
	font-family: 'Pretendard-Regular';
}


/*--------- Board ---------*/
.vocForm-name-input {
	width: 100%;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid #bbb;
}

/*---- 첨부파일 ----*/
.vocForm-input-group-text {
	line-height: 30px;
	width: 100%;
	margin-bottom: 20px;
	border: 0;
}

.attachfile {
	display: flex;
	margin: 20px 0;
	padding: 7px;
}

.vocForm-filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 100%;
	color: #999999;
}

.vocForm-filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.vocForm-filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
} 

.custom-file-label {
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
	padding: 50px 5%;
	margin: 0 auto;
	border: 0;
	border-radius: 5px;
}

.custom-file-label:hover {
	background: #777;
	color: #fff;
}

.btn-submit {
	width : 150px;
	border: 0;
	margin-top: 20px;
	transition: 0.5s;
	background: #666;
	color: white;
	width: 150px;
}

.btn-submit:hover {
	background: #111;
	color: white;
}