.fieldError {
	color: #bd2130;
}

section{
	position: relative;
	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.vocList-title {
	margin-bottom: 60px;
}

.vocList-title h3 {
	font-size: 28px;
	color: #333333;
	font-weight: 400;
	text-align: center;
}

.vocList-table {
	font-size: 15px;
	width: 100%;
	border-top: 2px solid #333;
	border-bottom: 1px solid #ccc;
}

.vocList-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.vocList-table a:hover {
	text-decoration: underline;
}

.voc-tr {
	text-align: center;
} /* 이거안먹네 */

.vocList-table .vocList-num {
	width: 100px;
	text-align: center;
}

.vocList-table .vocList-date {
	width: 200px;
}

.vocList-table th, .vocList-table td {
	padding: 14px 0;
}

.vocList-table tbody td {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

#voc-name {
	text-align: left;
}

/* .vocList-table tbody td {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
} */

.voc-write {
	text-align: center;
	font-size: 13px;
	margin: 40px;
	padding: 8px 18px;
	border: solid 1px #d7d7d7;
	position: absolute;

	right: 10px;
	
	font-weight: 400;
	background: transparent;
	text-align: center;
	border-radius: 5px;
	
	border: solid 1px #d7d7d7;
	
	color: #7d7d7d;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;

}

.voc-write:hover {
	background: #111;
	color: white;
}

.btn-submit {
	width : 150px;
	border: 0;
	margin-top: 20px;
	transition: 0.5s;
	background: #666;
	color: white;
	width: 150px;
}

.btn-submit:hover {
	background: #111;
	color: white;
}



/* .voc-write {
	background-color: red;
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
} */

/* reset */
* {
	/* box-sizing: border-box; */
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
/* .container {
  width: 1100px;
  margin: 0 auto;
} */
/* .blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
} */