@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.vocList-container {
	text-align: center;
	position: relative;
	padding: 100px 0;
	width: 1600px;
	margin: 0 auto;
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
}

.vocList-title {
	text-align: center;
	position: relative;
	bottom: 5px;
	float: left;
	margin-left: 20px;
	margin-bottom: 25px;
}

.vocList-title h3 {
	font-size: 60px;
	color : #333333;
	font-weight: bold;
	text-align: center;
}

.vocList-table {
	font-size: 15px;
	width: 100%;
	border-top : 2px solid #333;
	border-bottom: 1px solid #ccc;
}

.vocList-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.vocList-table a:hover {
	text-decoration: underline;
}

.vocList-table .vocList-num .vocList-cnt {
	width: 100px;
	text-align: center;
}

.vocList-table .vocList-date {
	width: 200px;
}

.vocList-table th, .vocList-table td {
	padding: 14px 0;
}

.vocList-table tbody td {
	padding : 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

#voc-name {
	text-align: left;
	padding-left: 25px;
}


.page-item:hover a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.page-item.active a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.vocList-btn a:hover {
	color: #fdfdfd;
}

.vocList-btn:hover {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.vocList-btn {
	color: #7d7d7d;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	padding: 7px 31px;
	position: absolute;
	right: 10px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: none;
	border-radius: 5px;
	border: 1px solid #aaa;
	transition: 0.4s;
	cursor: pointer;
}

/* 검색바 css */
.vocList-container select {
	font-family: Pretendard-Regular;
	border: 1px solid #bbb;
	border-radius: 5px;
	width: 85px;
	height: 35px;
	text-align: center;
}

.memberMng-select-search {
	font-family: Pretendard-Regular;
	border: 1px solid #aaa;
	border-radius: 5px;
	width: 180px;
	height: 35px;
	text-align: center;
}

.memberMng-search-btn {
	font-family: Pretendard-Regular;
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #fff;
    color: #7d7d7d;
    width: 70px;
    height: 35px;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.vocList-searchOptions {
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 20px;
}

.memberMngForm {
	float: right;
}

.memberMng-search-btn:hover {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.vocList-approvalStatus-button {
	background-color: #A4A4A4;
	color: #fff;
    border: none;    
    border-radius: 5px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}

.vocList-approvalStatus-button:hover {
	background: #777;
	color: #fff;
}