@charset "UTF-8";

@font-face {
	font-family: 'SF_HambakSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.myReservationForm-board {
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	padding: 80px 0;
}

.myReservationForm-header-div{
	width: 100%;
	display:flex;
	margin-bottom: 10px;
}

.myReservationForm-header-inner1{
	border-radius: 10px;
	border: 1px solid #999;
	width:50%;
}

.myReservationForm-header-inner2{
	border-radius: 10px;
	border: 1px solid #999;
	background-color: #e2e2e2;
	width:50%;
}

.myReservationForm-h4-bigger{
	font-size: 1.5em;
	font-weight: bold
}

.myReservationForm-h4{
	font-size: 1.2em;
	font-weight: bold;
}

.myReservationForm-header-div > a:hover{
	background-color: #a2a2a2;
}


.myReservationForm-header-inner1-h1{
	font-family: 'SF_HambakSnow';
	font-size: 3rem;
	color: black;
	line-height: 3.5rem;
	padding: 10px;
	text-align: center;
}

.myReservationForm-header-inner2-h1{
	font-family: 'SF_HambakSnow';
	font-size: 3rem;
	color: black;
	line-height: 3.5rem;
	padding: 10px;
	text-align: center;
}

.myReservationForm-titleDiv {
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.myReservationForm-title-h1 h1 {
	font-size: 28px; color : #333333;
	font-weight: bold;
	text-align: center;
	color: #333333;
}

.myReservationForm-table {
	font-size: 15px;
	width: 100%;
	border-top : 2px solid #333;
	border-bottom: 1px solid #ccc;
	
}

.myReservationForm-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.myReservationForm-table a:hover {
	text-decoration: underline;
}


.myReservationForm-table th, .myReservationForm-table td {
	padding: 14px 0;
}

.myReservationForm-table tbody td {
	/* padding-left: 28px;
	padding-right: 14px; */
	padding : 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.page-item:hover a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.page-item.active a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}