@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


.fieldError {
	color: #bd2130;
}

body {
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
	padding: 50px 5%;
	margin: 0 auto;
}

.noticeList-container {
	text-align: center;
	position: relative;
}

.noticeList-title {
	margin-bottom: 40px;
	text-align: center;
}

.noticeList-title h3 {
	font-size: 28px; color : #333333;
	font-weight: bold;
	text-align: center;
	color: #333333;
}

.noticeList-table {
	font-size: 15px;
	width: 100%;
	border-top : 2px solid #333;
	border-bottom: 1px solid #ccc;
	
}

.noticeList-table a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.noticeList-table a:hover {
	text-decoration: underline;
}

.notice-tr {
	/* text-align: center; */
	
	
} /* �씠嫄곗븞癒밸꽕 */

.noticeList-table .noticeList-num .noticeList-cnt {
	width: 100px;
	text-align: center;
}

.noticeList-table .noticeList-date {
	width: 200px;
}

.noticeList-table th, .noticeList-table td {
	padding: 14px 0;
}

.noticeList-table tbody td {
	/* padding-left: 28px;
	padding-right: 14px; */
	padding : 14px;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

#notice-name {
	text-align: left;
	padding-left: 25px;
}


.page-item:hover a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.page-item.active a {
	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
}

.notice-write a {
	color: #7d7d7d;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 13px;
	padding: 9px 22px;
}
.notice-write a:hover {
	color: #fdfdfd;
}

.notice-write:hover {

	color: #fdfdfd;
	background-color: #1d1f20;
	border: solid 1px #1d1f20;
	
}

.notice-write {
	position: absolute;
	right: 10px;
	text-align: center;
	width: 90px;
	height: 30px;
	background: #666;
	text-decoration: none;
	font-weight: bold;
	background: none;
	border-radius: 5px;
	border: 1px solid #aaa;
	transition: 0.4s;
	cursor: pointer;
}
