<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
layout:decorate="~{layouts/layout1}">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
</head>

<div class="header" th:fragment="header">

    <link th:href="@{/css/header.css}" rel="stylesheet">
	<header>
		<a href="/" class="logo"><img src=/images/ACC.jpg class="logoimage" /></a>
		<div class="navigation">
			<ul class="menu">
				<li class="menu-item" sec:authorize="isAuthenticated()"><a href="/board/program/apply">상품신청</a></li>
				<li class="menu-item" sec:authorize="isAnonymous() || isAuthenticated()">
					<a class="sub-btn" id="sub-btn" href="#">ACC소개</a>
					<ul class="sub-menu" id="sub-menu-items">
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/useinfo">이용안내</a></li>
						<!-- <li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="#"></a></li>
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="#"></a></li> -->
					</ul>
				</li>
				<li class="menu-item" sec:authorize="isAnonymous() || isAuthenticated()">
					<a class="sub-btn" id="sub-btn" href="#">소식</a>
					<ul class="sub-menu" id="sub-menu-items">
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/notices/lists">공지사항</a></li>
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/voc/list">VOC</a></li>
						<!-- <li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="#"></a></li> -->
					</ul>
				</li>

				<li class="menu-item" sec:authorize="isAnonymous() || isAuthenticated()">
					<a href="#" id="sub-btn">프로그램</a>
					<ul class="sub-menu" id="sub-menu-items">
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/board/program/showlist">공연</a></li>
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/board/program/exhibitionlist">전시</a></li>
						<li class="sub-item" sec:authorize="isAnonymous() || isAuthenticated()"><a href="/board/program/eventlist">행사</a></li>
					</ul>
				</li>

				<li class="menu-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
					<a href="#" id="sub-btn" style="margin-right:20px;">관리자</a>
					<ul class="sub-menu" id="sub-menu-items">
						<li class="sub-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/reservationMng">예매관리</a></li>
						<li class="sub-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/applications">상품관리</a></li>
						<li class="sub-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')"><a href="/admin/memberMngList">회원관리</a></li>
					</ul>
				</li>
			
				<li class="menu-item menu-right" sec:authorize="isAnonymous()"><a href="/members/login" >로그인</a></li>
				<li class="menu-item" sec:authorize="isAnonymous()"><a href="/members/select">회원가입</a></li>
				<li class="menu-item menu-right" sec:authorize="isAuthenticated()"><a href="/members/myPage">마이페이지</a></li>
				<li class="menu-item" sec:authorize="isAuthenticated()"><a href="/members/logout">로그아웃</a></li>
			</ul>
		</div>
	</header>
</div>
</html>
