<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">


<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null){
				alert(errorMessage);
			}
		});
	</script>

</th:block>

<head>
<link th:href="@{/css/vocForm.css}" rel="stylesheet">
</head>

<body>
	<div layout:fragment="content">
	<article class="vocForm-board">
			<h1 class="vocForm-title-h1">고객의 소리</h1>
	
		<div>
			<section class="vocForm">
				<div class="vocForm-title">
					<h4>글 작성하기</h4>
				</div>
				<div class="vocForm-container">
					<form class="vocForm-txt" role="form" method="post" action="/voc/new" enctype="multipart/form-data" th:object="${vocFormDto}">
						<input type="hidden" th:field="*{num}">

						<div>
							<div class="vocForm-name">
								<input type="text" th:field="*{name}" class="vocForm-name-input"
									placeholder="제목을 입력해주세요">
							</div>
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="fieldError">Incorrect data</p>
						</div>

						<div class="vocform-content">
							<textarea th:field="*{content}" class="vocform-content-text"
								aria-label="With textarea" placeholder="내용을 입력해주세요"></textarea>
							<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
								class="fieldError">Incorrect data</p>
						</div>
						<br>

						<span class="vocForm-input-group-text">첨부파일</span>
						<div class="vocForm-filebox" th:if="${#lists.isEmpty(vocFormDto.attachDtoList)}">
							<div class="attachfile" th:each="numb: ${#numbers.sequence(1,5)}">
								<input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly="readonly" />
								<label th:for="file + ${numb}" class="custom-file-label" th:text="파일찾기"></label>
								<input class="custom-file-input" th:id="file + ${numb}" type="file" name="attachFile" />
							</div>
						</div>
						<div class="vocForm-filebox" th:if="${not #lists.isEmpty(vocFormDto.attachDtoList)}">
							<div class="attachfile" th:each="attachDto, status:${vocFormDto.attachDtoList}">
								<input type="hidden" name="attachIds" th:value="${attachDto.num}">
								<input class="upload-name" th:value="${not #strings.isEmpty(attachDto.oriName)} ? ${attachDto.oriName} : '첨부파일' + ${status.index+1}" placeholder="첨부파일" readonly="readonly">
								<label th:for="file + ${status.index+1}" class="custom-file-label" th:text="파일찾기"></label>
								<input type="file" class="custom-file-input" th:id="file + ${status.index+1}" name="attachFile" >
							</div>
						</div>

						<div class="form-btn">
							<div th:if="${#strings.isEmpty(vocFormDto.num)}">
								<button th:formaction="@{/voc/new}" type="submit"
									class="btn-submit">등록</button>
							</div>

							<div th:unless="${#strings.isEmpty(vocFormDto.num)}">
								<button th:formaction="@{'/voc/update/' + ${vocFormDto.realNum} }"
									type="submit" class="btn-submit">수정</button>
							</div>
						</div>

						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
				</div>
			</section>
		</div>
		</article>
		<script th:src="@{/js/vocForm.js}" type="text/javascript"></script>
	</div>
</body>
</html>