<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<div class="slide slide_wrap">
		<span class="slide_item item1" th:each="List: ${slideList}"> <a
			th:href="@{/board/program/application/{num}(num=${List.num})}">
				<img class="main-slide-img"
				style="border-right: 2px solid white; border-left: 2px solid white;"
				th:src="${List.url}">
		</a>
		</span> <span class="slide_prev_button slide_button"
			style="background-color: transparent;"></span> <span
			class="slide_next_button slide_button"
			style="background-color: transparent;"></span>
		<ul class="slide_pagination" style="display: flex;"></ul>
	</div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<section class="notice">
		<div class="notice_inner">
			<div class="notice_left">
				<h2>공지사항</h2>
				<a href="/notices/lists"> +more </a>
				<div class="notice_left_box">
					<th:block th:each="List: ${noticeList}">
						<a th:href="@{/notices/detail/{num}(num=${List.num})}"> <em
							th:text="${List.name}"></em> <b th:text="${List.d_date}"></b>
						</a>
					</th:block>
				</div>
			</div>
			<div class="notice_right">
				<h2>고객센터</h2>
				<a href="#none"> <img src="images/service.svg" alt="service">
				</a>
				<div class="notice_right_box">
					<div class="inner_box">
						<a href="#none"> <img src="images/icon_pc.svg"
							alt="notice_icon1">
							<p>PC게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none"> <img src="images/icon_phone.svg"
							alt="notice_icon2">
							<p>모바일게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none"> <img src="images/indie.svg"
							alt="notice_icon3">
							<p>인디게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none"> <img src="images/stove_service.svg"
							alt="notice_icon4">
							<p>STOVE서비스</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script th:src="@{/js/main.js}" type="text/javascript"></script>
</div>
</html>