<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout1}">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/main.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div layout:fragment="content">






    <!--image slider start-->
    <div class="slider">
      <div class="slides">
        <!--radio buttons start-->
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <!--radio buttons end-->
        <!--slide images start-->
        <div class="slide first">
          <img src="/images/main/1.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/images/main/2.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/images/main/3.jpg" alt="">
        </div>
        <div class="slide">
          <img src="/images/main/4.jpg" alt="">
        </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
    </div>
    <!--image slider end-->

    <script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 4){
        counter = 1;
      }
    }, 5000);
    </script>




	
	<!-- <div class="slide_wrap">
		<span class="slide_item" th:each="List: ${slideList}">
			<a th:href="@{/board/program/application/{num}(num=${List.num})}">
				<img class="main-slide-img" th:src="${List.url}">
			</a>
		</span>
		<span class="slide_prev_button slide_button"></span>
		<span class="slide_next_button slide_button"></span>
	</div>
	<div class="slide_pagination_div">
		<ul class="slide_pagination"></ul>
	</div> -->
	
	
	
	
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	
	<section class="acc-main-quickLink">
	<div class="acc-main-quickLinkWrap">
		<div class="acc-main-slider">
			<div class="acc-main-slider-item"><a class="q1" href="#">주차안내</a></div>
			<div class="acc-main-slider-item"><a class="q2" href="#">고객<i>지원시설</i></a></div>
			<div class="acc-main-slider-item"><a class="q14" href="#">전시해설</a></div>
			<div class="acc-main-slider-item"><a class="q4" href="#">ACC 투어</a> </div>
			<div class="acc-main-slider-item"><a class="q5" href="#">ACC 공간안내</a></div>
			<div class="acc-main-slider-item"><a class="q6" href="#">함께하는 공간</a></div>
			<div class="acc-main-slider-item"><a class="q7" href="#">대관안내</a></div>
			<div class="acc-main-slider-item"><a class="q8" href="#">VR투어</a></div>
			<div class="acc-main-slider-item"><a class="q3" href="#">ACC컬쳐숍</a></div>
		</div>
	</div>
	</section>
	<section class="acc_main_notice">
		<div class="acc_main_notice_inner">
			<div class="acc_main_notice_left">
				<h2>공지사항</h2>
				<a href="/notices/lists"> +more </a>
				<div class="acc_main_notice_left_box">
					<th:block th:each="List: ${noticeList}">
						<a th:href="@{/notices/detail/{num}(num=${List.num})}">
							<em th:text="${List.name}"></em>
							<b th:text="${List.d_date}"></b>
						</a>
					</th:block>
				</div>
			</div>
			<div class="acc_main_notice_right">
				<h2>ACC YouTube</h2>
				<a href="https://www.youtube.com/@AsiaCultureCenter/featured" target='_blank'> +more </a>
				<div class="acc_main_notice_right_box">
					<iframe class="acc_main_iframe" width="590" height="345"
							src="https://www.youtube.com/embed/3u8NsjU2AVc?autoplay=1&mute=1&loop=1&playlist=3u8NsjU2AVc&vq=hd720"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"	allowfullscreen>
					</iframe>
				</div>
				<!-- <h2>고객센터</h2>
				<a href="#none">
					<img src="images/service.svg" alt="service">
				</a>
				<div class="notice_right_box">
					<div class="inner_box">
						<a href="#none">
							<img src="images/icon_pc.svg" alt="notice_icon1">
							<p>PC게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none">
							<img src="images/icon_phone.svg" alt="notice_icon2">
							<p>모바일게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none"> <img src="images/indie.svg"
							alt="notice_icon3">
							<p>인디게임</p>
						</a>
					</div>
					<div class="inner_box">
						<a href="#none">
							<img src="images/stove_service.svg"	alt="notice_icon4">
							<p>STOVE서비스</p>
						</a>
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<script th:src="@{/js/main.js}" type="text/javascript"></script>
</div>

</body>
</html>