@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.reserve-title-h1 {
	font-family: Pretendard-Regular;
	font-size: 3rem;
	line-height: 3.5rem;
	padding-bottom: 40px;
	text-align: center;
}

body {
	font-family: Pretendard-Regular;
	box-sizing: border-box;
	
}

input {
	font-family: Pretendard-Regular;
	width: 180px;
}

#reserveContainer {
	/* background-color: #242333; */
	width:900px;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 600px;
	text-align: center;
	line-height: 35px;
}

textarea {
	background: white;
	color: black;
	border: 0;
	margin: 20px 0 5px 0;
	text-align: center;
	width: 100%;
	resize: none;
	font-size: 28px;
	font-weight:bold;
	font-family: 'Pretendard-Regular';
	word-break: keep-all;
}

.reserveContainer {
	width: 800px;
	float: left;
}

.reserveImg {
	float: left;
	margin-right: 50px;
	
}

.reserveImg img{
	width: 300px;
	height: 340px;
	
}

.reserveInfo {
	float: right;
	
}

.reserveBtn {
	font-family: Pretendard-Regular;
	background-color: #A4A4A4;
	border: none;
	color: white;
	border-radius: 5px;
	width: 40%;
	height: 45px;
	font-size: 14pt;
	margin: 10px;
	cursor:pointer;
}

.reserveBtn:hover {
	color: #fff;
	background-color: #848484;
}

.form-group {
	display: flex;
	margin: 20px;
	align-items: center;
	
}

.form-group input {
	border: 0px solid gray;
	border-radius: 5px;
	font-size: 20px;
	height: 30px;
	text-align: center;
	text-overflow: ellipsis;
}

.form-group label {
	font-size: 18px;
	/* font-weight: bold; */
	padding-right: 5px;
	width: 90px;
	text-align: center;
}

.form-group-cnt {
	display: flex;
	margin: 20px 20px 40px 20px;
	align-items: center;
	position: relative;
}

.form-group-cnt input {
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 20px;
	height: 30px;
	text-align: center;
	position: relative;
}

.form-group-cnt label {
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
	width: 90px;
	text-align: center;
}

.cnt-info {
	font-size: 16px;
	position: absolute;
	font-weight: 500;
	top: 30px;
	left: 108px;
   color: #bd2130;
	
}