@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.vocDetail-board {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	font-family: Pretendard-Regular;
	font-size: 1.1rem;
	line-height: 1.5rem;
	letter-spacing: 0.1px;
	word-break: keep-all;
	list-style: none;
	height: 100%;
	position: relative;	
}

.detail-header {
	text-align:right;
	width: 100%;
	border-bottom: 2px solid black;
	padding: 0px 15px 20px;
	line-height: 42px;
	height: 42px;
}

.detail-header a {
	color: #333;
}

.detail-title{
	padding-top: 20px;
	padding: 50px 20px 27px;
	border-bottom: 1px solid #e2e2e2;
}

.view-wrapper{
	width: 100%;
	float: right;
	padding: 10px 0;
	border-bottom: 1px solid #e2e2e2;
}

.view-date {
	float: right;
    font-size: 13px;
    color: #6b6b6b;
    margin-right: 25px;
    line-height: 1;
}

.view-views{
	float: right;
    font-size: 13px;
    color: #6b6b6b;
    margin-right: 20px;
    line-height: 1;
}

.view-text{
	float: right;
    font-size: 13px;
    color: #6b6b6b;
    margin-right: 10px;
    line-height: 1;
}



.bodyContent{
	float: left;
	width: 100%;
	min-height: 400px;
	padding: 30px;
	border-bottom: 1px solid #e2e2e2;
}

.bodyContent pre{
	line-height: 200%;
	white-space: pre-wrap;
	word-break: break-all;
}

.bodyContent_inner{
	font-family: Pretendard-Regular;
	text-overflow: none;	
}

.voc-download{
	float: left;
	width: 100%;
	padding: 15px 10px 25px 25px;
	border-bottom: 1px solid #e2e2e2;
}

.voc-download-text{
	width: 100%;
	line-height: 50px;
}

.voc-download-inner{
	width: 100%;
	display: block;
}

.group-button{
	width: 100%;
	float: left;
	text-align: center;
	letter-spacing: 3px;
	padding: 20px 0;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 15px;
}

.button-wrapper a {
	color: #333;
	display: inline-block;
	line-height: 1.4;
	word-break: break-all;
	vertical-align: middle;
}

.r-button{
	/* padding-right: 39px; */
	float: right;
}

.l-button{
	float: left;
}

.detailPrev_inner {
	list-style: none;
}
 
.inner_text{
	padding-left: 15px;
	display: inline-block;
	margin: 10px;
}

.back-to-list{
	background: white;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.5px;
	float: right;
	margin-right: 20px;
	padding: 9px 32px;
	border-radius: 5px;
	border: 1px solid #aaa;
	cursor: pointer;
}

.back-to-list:hover {
	background: #222;
	color: #fff;
}

.du-group-button {
	margin-left: 23px;
}