*{
	margin: 0 auto;
    padding: 0 auto;
    list-style: none;
    border: 0;
    text-decoration: none;
}

form{
	width: 1100px;
	height: 100%;
}

a {
	text-decoration: none;
}

.detail-header{
	float: left;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 120px 15px 20px;
}

.back-to-list{
	float: right;
	margin-right: 20px;
}

.detail-title{
	padding-top: 20px;
	padding: 50px 13px 27px;
	border-bottom: 1px solid #e2e2e2;
}

.title {
	float: left;
	width: 100%;
}

.view-wrapper{
	width: 100%;
	float: right;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.view-date {
	float: right;
    font-size: 12px;
    color: #6b6b6b;
    margin-right: 25px;
    line-height: 1;
}

.view-views{
	float: right;
    font-size: 12px;
    color: #6b6b6b;
    margin-right: 25px;
    line-height: 1;
}

dl {
	position:absolute;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dd{
	position:absolute;
	margin-inline-start: 60px;
}

.bodyContent{
	float: left;
	width: 100%;
	text-indent: 25px;
	font-size: 1.2em;
	padding: 30px 0px 30px;
	border-bottom: 1px solid #e2e2e2;
}

pre{
	font-size: 1.3em;
	line-height: 200%;
}

.bodyContent_inner{
	text-overflow: none;
}

.mgb-15 {
	display:block;
	margin: auto;
	margin-bottom: 15px;
}

.image {
	margin-right: 15px;
	height: auto;
	width: 50%;
}

.img {
	width: 100%;
	height: 350px;
}

.group-button{
	width: 100%;
	float: left;
	text-align: center;
	letter-spacing: 3px;
	padding: 40px 0px 40px;
	border-bottom: 1px solid #e2e2e2;
}

.button{
	padding-right: 30px;
}

.download{
	float: left;
	width: 100%;
	padding: 15px 0px 25px;
	border-bottom: 1px solid #e2e2e2;
}

.download_text{
	width: 100%;
	line-height: 50px;
}

.download_inner{
	width: 100%;
	display: block;
}

.inner_text{
	width: 100%;
	margin: 30px 20px 30px;
}
