.nav-form {
	width: 100%;
	min-width: 1000px;
	position: fixed;
	font-weight: 999;
	height: 100px;
	line-height: 100px;
	background-color: white;
}

.nav-link {
	position: relative;
	margin: 15px;
	text-align: center;
}

.nav-item2-menu2 {
	list-style: none;
	display: none;
	position: absolute;
}

.menu2_inner {
	display: block;
}

.nav-item2-menu2>a:hover {
	display: block;
	color: gray;
}

.nav-item2-inner {
	float: left;
	padding: 15px 20px;
	line-height: 20px;
	text-align: center;
}

.nav-item2-menu2 {
	list-style: none;
	display: none;
	top: 70px;
	left: 248px;
	padding: 10px;
	position: absolute;
	background-color: white;
}

.menu2_inner {
	display: block;
	font-size: 14px;
}

.nav-item2-menu2>a:hover {
	display: block;
	color: gray;
}

.nav-item3-menu3 {
	list-style: none;
	display: none;
	position: absolute;
}

.nav-item3-menu3>a:hover {
	display: block;
	color: gray;
}

.nav-item3-inner {
	float: left;
	padding: 15px 20px;
	margin: 25px -55px;
	line-height: 20px;
	text-align: center;
}

.nav-item3-menu3 {
	list-style: none;
	display: none;
	top: 70px;
	left: 338px;
	padding: 10px;
	position: absolute;
	background-color: white;
}

.menu3_inner {
	display: block;
	font-size: 14px;
}

.nav-item3-menu3>a:hover {
	display: block;
	color: gray;
}

.login {
	margin: 15px;
	margin-left: 50px;
}

.logout {
	top: -14px;
	float: right;
	margin-right: 100px;
}