html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
}

.header{
	width: 100%;
	background: white;
	position: fixed;
	z-index:1;
	padding: 15px 20px 0px;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.nav-link {
	text-decoration: none;
}

.logout{
	float: right;
}

.content {
	margin-bottom: 100px;
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
}