@charset "UTF-8";

@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.acc-header-wrap {
	font-family: Pretendard-Regular;
	padding: 0 5.2%;
	display: flex;
	justify-content: space-between;
}

.acc-header-wrap > .acc-header-logo {
	margin-top: auto;
	margin-bottom: auto;
	flex: 1 0 0 ;
}

.acc-header-logo-img {
	cursor: pointer;
}

.acc-header-wrap > .acc-header-logo img {
	height: 62px;
}

.acc-header-wrap > .acc-header-nav {
	flex: 1;
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb {
	display: flex;
	width: 800px;
}
	
.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li {
	position: relative;
	flex: 1;
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li > a {
	padding: 36px 10px;
	display: block;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	transition: all 0.2s ease-in;
	white-space: nowrap;
	color : #333333;
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li > ul {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
	width: 180px;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 8%);
	background-color: #fff;
	z-index: 7;
	display: none;
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li > ul > li {
	border-top: 1px solid #f0f0f0;
	text-align: center;
	
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li > ul > li:hover > a {
	background-color: #2156A6;
	color: #fff;
	font-weight: bolder;
}

.acc-header-wrap > .acc-header-nav ul.acc-header-gnb > li > ul > li > a {
	display: block;
	padding: 20px 24px;
	letter-spacing: -0.5px;
	transition: all 0.3s ease;
	color : #333;
}

.acc-header-wrap .headermenu-submenu {
	flex: 1;
	margin-left: 30px;
}

.acc-header-wrap .headermenu-submenu ul {
	display: flex;
	margin-top: 40px;
	font-weight: 500;
	justify-content: flex-end;
}

.acc-header-wrap .headermenu-submenu ul > li {
	margin-right: 9px;
	white-space: nowrap;
}

.acc-header-wrap .headermenu-submenu ul > .headermenu-list::after {
	content: '';
	display: inline-block;
	margin-left: 9px;
	width: 1px;
	height: 12px;
	background-color: rgba(0, 0, 0, 0.12);
}

.acc-header-wrap .headermenu-submenu ul > li:last-child::after {
	display: none;
}

.headermenu-userid {
	font-size: 18px;
	font-variant: normal;
	color : #333;
}

.headermenu-welcome {
	color: #999;
	font-size: 14px;
}

.headermenu-item {
	vertical-align: middle;
	font-size: 14px;
	color : #444;
}

.headermenu-item > a:active {
	color: #444;
}

.headermenu-item > a {
	text-decoration: none;
	color: #444;
}
