<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">
<head>
	
</head>
<div layout:fragment="content" class="noticeForm">
<link th:href="@{/css/notice.css}" rel="stylesheet">
	<form class="notice" role="form" method="get" action="/notices">
	
		<table class="noticeListForm">
			<thead class="noticeList-head">
				<tr class="noticeHead-tr">
					<th class="noticeHead_no">글번호</th>
					<th class="noticeHead_title">제목</th>
					<th class="noticeHead_no">조회수</th>
				</tr>
			</thead>
			<tbody>
				<tr class="noticeListBody" th:each="notice:${noticeList}">
					
					<td class="noticeListBody-no" th:text="${notice.num}">글번호</td>
					<td class="noticeListBody-title">
						<a th:text="${notice.name}" 
							th:href="@{/notices/detail/{num}(num=${notice.num})}">제목</a>
					</td>
					<td class="noticeListBody-no" th:text="${notice.cnt}">조회</td>

				</tr>
			</tbody>



		</table>
		<div class="vocList pagebtn">
			<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
				<a th:if="${page==0? page==1 : page != nowPage}"
					th:href="@{/notices/lists(page=${page-1})}" th:text="${page}"></a>
				<strong th:if="${page==nowPage}" th:text="${page}"
					class="vocbtn_strong"></strong>
			</th:block>
		</div>
		<div class="vocList write">
			<div class="voc-write">
				<a href="/notices/write">글쓰기</a>
			</div>
		</div>


	</form>
</div>
</html>