@font-face {
    font-family: Pretendard-Regular;
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'SF_HambakSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.vocReply-board {
	width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
	font-family: Pretendard-Regular;
	font-size: 1rem;
	letter-spacing: 0.1px;
	word-break: keep-all;
}

.vocReply-title-h1 {
	font-family: 'SF_HambakSnow';
	font-size: 3rem;
	line-height: 3.5rem;
	padding-bottom: 40px;
	text-align: center;
}


.vocReply-title h4 {
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: center;
}

.vocReply {
	border-radius: 10px;
	border: 1px solid #999;
	padding: 50px 5%;
}

.vocReply-container {
	padding-top: 30px;
}

.vocReply-txt {
	padding-top: 20px;
}

.vocReply-board input {
	font-family: Pretendard-Regular;
	height: 40px;
	font-size: 1rem;
	padding-left: 7px;
	border-radius: 5px;
}

.vocReply-board textarea {
	border: 1px solid #bbb;
	border-radius: 5px;
	width: 100%;
	height: 200px;
	padding: 10px 0 0 7px;
	resize: none;
	font-size: 1rem;
	font-family: 'Pretendard-Regular';
	margin-top: 20px;
	margin-bottom: 10px;
}

.vocReply-name-input {
	width: 100%;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 1px solid #bbb;
}

/*---- 첨부파일 ----*/
.vocReply-input-group-text {
	line-height: 30px;
	width: 100%;
	margin-bottom: 20px;
	border: 0;
}

.attachfile {
	display: flex;
	margin: 20px 0;
	padding: 7px;
}

.vocReply-filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 100%;
	color: #999999;
}

.vocReply-filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.vocReply-filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
} 

.custom-file-label {
	font-family: Pretendard-Regular;
	font-size: 1rem;
	line-height: 1.5rem;
	color: black;
	letter-spacing: 0.1px;
	word-break: keep-all;
	padding: 50px 5%;
	margin: 0 auto;
	border: 0;
	border-radius: 5px;
}

.custom-file-label:hover {
	background: #777;
	color: #fff;
}

.form-btn {
	text-align: center;
}

.btn-submit {
	width : 150px;
	height: 50px;
	margin-top: 20px;
	background: #666;
	color: white;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #aaa;
	transition: 0.4s;
	cursor: pointer;
	text-align: center;
}

.btn-submit:hover {
	background: #111;
	color: white;
}