<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<head>
	<meta charset="UTF-8">
	<title>게시글 상세 페이지</title>
</head>
<body>
	<div layout:fragment="content">
		<div class = "detail-layout">
		<h1 th:text="${board.title}">글제목</h1>
		<p th:text="${board.writer}">작성자</p>
		<p th:text="${board.content}">글내용</p>
		<a th:href="@{${board.filepath}}">다운받기</a>
		<a th:href="@{/board/delete(num=${board.num})}">삭제</a>
		<a th:href="@{/board/modify/{num}(num=${board.num})}">수정</a>
		<!-- <a th:href="@{/board/boardlist}">목록</a> -->
		</div>
	</div>
</body>
</html>