<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
	
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>

<body>
<div layout:fragment="content">
<div class="bdlistlayout">
    <table>
        <thead>
            <tr>
                <th>글번호</th>
                <th>작성자</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>     <!-- 반복문 -->
            <tr th:each="board : ${list}">
            	<!-- <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td> -->
                <td th:text="${board.num}"></td>
                <td th:text="${board.writer}"></td>
                <td>
                	<a th:text="${board.title}" th:href="@{/board/detail(num=${board.num})}"></a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
</body>
</html>