<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<meta charset="UTF-8">
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	</script>
</th:block>



<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
input {
	width: 250px;
	text-align:center;
	border:none;
	border-right:0px;
	border-top:0px;
	boder-left:0px;
	boder-bottom:0px;
}
	
.mgb-15 {
	margin-bottom: 15px;
}

.mgt-30 {
	margin-top: 30px;
}

.mgt-50 {
	margin-top: 50px;
}

.repImgDiv {
	margin-right: 15px;
	height: auto;
	width: 50%;
}

.repImg {
	width: 100%;
	height: 400px;
}

.wd50 {
	height: auto;
	width: 50%;
}
</style>
</th:block>

<div layout:fragment="content"
	style="margin-left: 25%; margin-right: 25%">
	<form action="/reservations/new" role="form" method="post" id="frm">
		<input type="hidden" id="numb" th:value="${application2.num}">

		<div class="d-flex">
			<div class="repImgDiv">
				<img th:src="${application2.attachDtoList[0].url}"
					class="rounded repImg" th:alt="${application2.name}"> <input
					type="hidden" name="attachNum"
					th:value="${application2.attachDtoList[0].num}">
			</div>
			<!-- <div class="form-group">
			<select th:field="*{programCategory}" class="custom-select">
				<option value="SHOW">공연</option>
				<option value="EXHIBITION">전시</option>
				<option value="EVENT">행사</option>
			</select>
		</div> -->
			<div class="wd50">
				<!-- <span
				th:if="${application2.programCategory == T(com.asia.constant.ProgramCategory).SELL}"
				class="badge badge-primary mgb-15"> 판매중 </span> <span
				th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}"
				class="badge btn-danger mgb-15"> 품절 </span> -->
				<h4 class="display-5">프로그램 명</h4>
				<hr class="my-4">
				<div class="h4" th:text="${application2.name}"></div>
				<hr class="my-4">

				<div class="text-right">
					<h4 class="display-5">티켓 가격</h4>
					<hr class="my-4">
					<div class="h4 text-danger text-left">
						<input type="hidden" th:value="${application2.price}" id="price"
							name="price"> <span th:text="${application2.price}"></span>원
					</div>
				</div>
				<hr class="my-4">
				<div class="text-right">
					<div class="h4 text-danger text-left">
						시작일 <input type="hidden" th:field="*{application2.sdate}"
							id="sdate" name="sdate"> <input type="text"
							th:field="*{application2.sdate}" readOnly>
					</div>
					<div class="h4 text-danger text-left">
						종료일 <input type="hidden" th:field="*{application2.edate}"
							id="edate" name="edate"> <input type="text"
							th:field="*{application2.edate}" readOnly>
					</div>
					<input type="hidden" th:field="*{application2.seatDetail}">
					<select th:name="test">
						<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							-- 선택
							--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
						<option th:each="val : ${select}" th:value="${val.value}" th:text="${val.key}"></option>
					</select>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary btn-lg">예매하기</button>
				</div>
			</div>

			<div class="jumbotron jumbotron-fluid mgt-30">
				<div class="container">
					<h4 class="display-5">소개글</h4>
					<hr class="my-4">
					<br>
					<pre><p class="lead" th:text="${application2.detail}"></p></pre>
					<br>
				</div>
			</div>

			<div>
				<h4 class="display-5">프로그램 정보</h4>
				<hr class="my-4">
				<br>
			</div>
			<div th:each="attach : ${application2.attachDtoList}"
				class="text-center">
				<img th:if="${not #strings.isEmpty(attach.url)}"
					th:src="${attach.url}" class="rounded mgb-15" width="800"> <input
					type="hidden" name="attachNum" th:value="${attach.num}">
			</div>

			<div class="jumbotron jumbotron-fluid mgt-30">
				<div class="container">
					<h4 class="display-5">첨부파일 다운로드</h4>
					<hr class="my-4">

					<div class="uploadResult">
						<ul>
							<li th:if="${not #strings.isEmpty(attach.url)}"
								th:each="attach : ${application2.attachDtoList}">
								<div class="uploadDiv" th:data-url="${attach.url}">
									<a th:href="@{/board/program/download/{num}(num=${attach.num})}" th:text="${attach.oriName}"></a>
								</div>
							</li>
						</ul>
					</div>


				</div>
			</div>
		</div>


		<div class="write_btn_1">
			<button type="button" id="btn_1">
				<a th:href="@{/board/program/apply/}+${application2.num}">수정</a>
			</button>
		</div>



		<div class="write_btn_2">

			<button type="button" id="btn_2">
				<a th:href="@{/board/program/delete/}+${application2.num}">삭제</a>
			</button>
		</div>
		
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
</div>

</html>
