<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">

<head>

</head>
<div layout:fragment="content" class="noticeForm">
    <link th:href="@{/css/vocList.css}" rel="stylesheet">
    <div>
        <section class="vocList">
            <div class="vocList-title">
                <h3>공지사항</h3>
            </div>
            <form class="notice" role="form" method="get" action="/notices">
                <div class="vocList-container">

                    <table class="vocList-table">
                        <thead>
                            <tr class="voc-tr">
                                <th class="vocList-num">글번호</th>
                                <th class="vocList-name">제목</th>
                                <th class="vocList-name">등록일</th>
                                <th class="vocList-cnt">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="noticeListBody" th:each="notice:${noticeList}">

                                <td class="vocList-num" th:text="${notice.num}">글번호</td>
                                <td class="vocList-name"><a th:text="${notice.name}" th:href="@{/notices/detail/{num}(num=${notice.num})}">제목</a></td>
                                <td class="vocList-date" th:text="${#temporals.format(notice.regTime, 'yyyy-MM-dd')}"></td>
                                <td class="vocList-cnt" th:text="${notice.cnt}">조회</td>

                            </tr>
                        </tbody>
                    </table>
					<br>
                    <div>
                        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="voc-write">
                            <a href="/notices/write">글쓰기</a>
                        </div>
                    </div>
                    <div class="page_wrap">

                        <ul class="pagination justify-content-center">

                            <li class="page-item" th:classappend="${startPage == noticeList.pageable.pageNumber + 1} ? 'disabled'">
                                <a class="page-link" th:href="@{/notices/lists(page=${noticeList.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>


                            <li class="page-item" th:classappend="${page == noticeList.pageable.pageNumber + 1} ? 'active'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
								<a class="page-link" th:href="@{/notices/lists(page=${page-1})}"
								th:text=${page} aria-current="page">1</a>
							</li>

							<li class="page-item"
								th:classappend="${endPage == noticeList.pageable.pageNumber + 1} ? 'disabled'">
								<a class="page-link"
								th:href="@{/notices/lists(page=${noticeList.pageable.pageNumber + 1})}">Next</a>
							</li>

						</ul>

					</div>

					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

				</div>
			</form>
		</section>
	</div>
</div>
</html>
