<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<meta charset="UTF-8">

<head>
<link th:href="@{/css/vocList.css}" rel="stylesheet">
</head>

<div layout:fragment="content">
	<div>
		<div class="vocList-container">
			<div class="vocList-title">
				<h3>상품관리</h3>
			</div>
			<form class="memberMngForm"
				th:action="@{'/admin/applications/' + ${applications.pageable.pageNumber}}"
				method="get">
				<div class="vocList-searchOptions" th:object=${searchDto}>
					<span class="vocList-searchOption-list"> <select
						class="memberMng-select" th:field="*{searchBy}">
							<option th:value="name">제목</option>
							<option th:value="writer">작성자</option>
							<option th:value="programCategory">카테고리</option>
							<option th:value="approvalStatus">승인상태</option>
					</select>
					</span> <span class="vocList-searchOption-list"> <input
						class="memberMng-select-search" type="text"
						th:field="*{searchQuery}">
					</span> <span class="vocList-searchOption-list">
						<button class="memberMng-search-btn" type="submit" id="searchBtn">검색</button>
					</span>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
			</form>
			
			<section class="vocList">
				<form class="applicationForm-txt" name="applicationForm" role="form"
					method="get" th:object="${application1}">
					<table class="vocList-table">
						<thead>
							<tr class="voc-tr">
								<th style="width: 5%;">프로그램번호</th>
								<th style="width: 45%;">프로그램명</th>
								<th style="width: 8%;">카테고리</th>
								<th style="width: 10%;">등록자</th>
								<th style="width: 15%;">등록일</th>
								<th style="width: 7%;">승인상태</th>
								<th style="width: 8%;">승인여부</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="application1, status: ${applications.getContent()}">
								<td th:text="${application1.num}"></td>
								<td><a class="a-name"
									th:href="'/board/program/application/'+${application1.num}"
									th:text="${application1.name}"></a></td>
								<td
									th:text="${application1.programCategory}"></td>
								<td th:text="${application1.createdBy}"></td>
								<td
									th:text="${#temporals.format(application1.regTime, 'yy년 MM월 dd일 HH시 mm분')}"></td>
								<td
									th:text="${application1.approvalStatus}"></td>
								<td
									th:if="${application1.approvalStatus} == '미승인'">
									<button class="myReservationForm-btn" th:formaction="@{'/admin/approvalstatus/change/' + ${application1.num}}"
										type="submit">승인하기</button>
								</td>
								<td th:if="${application1.approvalStatus} == '승인'">승인완료</td>
							</tr>
						</tbody>
					</table>
					<br>

					<div class="page_wrap"
						th:with="start=${(applications.number/maxPage)*maxPage + 1}, end=(${(applications.totalPages == 0) ? 1 : (start + (maxPage - 1) < applications.totalPages ? start + (maxPage - 1) : applications.totalPages)})">

						<ul class="pagination justify-content-center">

							<li class="page-item"
								th:classappend="${applications.first} ? 'disabled'"><a
								class="page-link"
								th:href="'javascript:page(' + ${applications.pageable.pageNumber - 1} + ')'"
								tabindex="-1" aria-disabled="true">Previous</a></li>

							<li class="page-item"
								th:classappend="${page == applications.pageable.pageNumber + 1} ? 'active'"
								th:each="page : ${#numbers.sequence(start, end)}"><a
								class="page-link"
								th:href="'javascript:page(' + ${page - 1} + ')'" th:text=${page}
								aria-current="page">1</a></li>

							<li class="page-item"
								th:classappend="${applications.last} ? 'disabled'"><a
								class="page-link"
								th:href="'javascript:page(' + ${applications.pageable.pageNumber + 1} + ')'">Next</a>
							</li>
						</ul>
					</div>
				</form>
			</section>
		</div>
	</div>
<script th:src="@{/js/applicationMng.js}" type="text/javascript"></script>
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</html>
