<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!--  사용자 스크립트 추가 -->
<th:block layout:fragment="script">
<script th:inline="javascript">
  
 /*  $(document).ready(function() {
	  $("#searchBtn").on("click", function(e) {
		  e.preventDefault();
		  page(0);
	  });
  });
  
  function page(page) {
	  var searchDateType = $("#searchDateType").val();
	  var searchProgramCategory = $("#searchProgramCategory").val();
	  var searchBy = $("#searchBy").val();
	  var searchQuery = $("#searchQuery").val();
	  
	  location.href="/board/program/applications/" + page + "?searchDateType=" + searchDateType
			  + "&searchProgramCategory=" + searchProgramCategory
			  + "&searchBy=" + searchBy
			  + "&searchQuery=" + searchQuery;
	  
  } */
  
  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    select{
      margin-right:10px;
    }
    


    
    .searchbar{
    	text-align: center;
    }
    
  </style>
</th:block>

<div layout:fragment="content">
 <div class="layoutmanage">
 <form role="form" method="get" th:object="${applications}">

    <table class="table">
      <thead>
	  <tr>
	    <td>프로그램아이디</td>
	    <td>프로그램명</td>
		<td>카테고리</td>
		<td>등록자</td>
		<td>등록일</td>
	  </tr>
	  </thead>
	  <tbody>
	 <tr th:each="application1, status: ${applications.getContent()}">
	    <td th:text="${application1.num}"></td>
 		<td>
		  <a th:href="'/board/program/application/'+${application1.num}" th:text="${application1.name}"></a>
		</td>
		<td th:text="${application1.programCategory}">
		</td>
		<td th:text="${application1.createdBy}"></td>
		<td th:text="${application1.regTime}"></td>
	  </tr>
	</tbody>
</table>

<div class="page_wrap">
        <ul class="pagination justify-content-center">
        
            <li class="page-item" th:classappend="${startPage == applications.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/program/applications(page=${applications.pageable.pageNumber - 1})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            
           
            <li class="page-item" th:classappend="${page == applications.pageable.pageNumber + 1} ? 'active'" th:each= "page : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/board/program/applications(page=${page-1})}"
                th:text=${page} aria-current="page">1</a>
            </li>
            
 
            <li class="page-item" th:classappend="${endPage == applications.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/board/program/applications(page=${applications.pageable.pageNumber + 1}, searchKeyword = ${param.searchKeyword})}">Next</a>
            </li>
            
        </ul>
</div>
    <!-- <th:block th:each= "page : ${#numbers.sequence(startPage, endPage)}">
                                                        검색기능-4
        <a th:if="${page != nowPage}"
           th:href="@{/program/applications(page = ${page -1}, searchKeyword = ${param.searchKeyword})}"
           th:text="${page}">
        </a>

        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block> -->
    
    <!-- <div class="page_wrap">
    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
        <a th:if="${page==0? page==1 : page != nowPage}" th:href="@{/program/applications(page=${page-1})}" th:text ="${page}"></a>
        <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
    </th:block>
</div> -->

    
 <div class=searchbar>
    <!--검색기능-5-->
    <form id="searchForm" th:action="@{/board/program/applications}" method="post">

        <select name="searchType">
        	<option value="">전체 검색</option>
        	<option value="name">제목</option>
        	<option value="programCategory">카테고리</option>
        	<option value="createdBy">등록자</option>
        </select>
        <input type="text" name="searchKeyword">
        <button type="submit">검색</button>
        
    </form>
    </div>
  
    

<!-- <div th:with="start=${(applications.number/maxPage)*maxPage + 1}, end=(${(applications.totalPages == 0) ? 1 : (start + (maxPage - 1) < applications.totalPages ? start + 
(maxPage - 1) : applications.totalPages)})" >
	<ul class="pagination justify-content-center">
	<li class="page-application1" th:classappend="${applications.first}?'disabled'">
		<a th:onclick="'javascript:page(' + ${applications.number - 1} + ')'" aria-label='Previous' class="page-link">
			<span aria-hidden='true'>Previous</span>
		</a>
	</li>
	
	<li class="page-application1" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${applications.number eq page-1}?'active':''">
		<a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
	</li>
	
	<li class="page-application1" th:classappend="${applications.last}?'disabled'">
		<a th:onclick="'javascript:page(' + ${applications.number + 1} + ')'" aria-label='Next' class="page-link">
				<span aria-hidden='true'>Next</span>
		</a>
	</li>
	</ul>
</div> -->

<!-- <div class="page_wrap">
    <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
        <a th:if="${page==0? page==1 : page != nowPage}" th:href="@{/program/applications(page=${page-1})}" th:text ="${page}"></a>
        <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
    </th:block>
</div> -->

<!-- <div class="form-inline justify-content-center" th:object="${applicationSearchDto}">
	<select th:field="*{searchDateType}" class="form-control" style="width:auto;">
		<option value="all">전체기간</option>
		<option value="1d">1일</option>
		<option value="1w">1주</option>
		<option value="1m">1개월</option>
		<option value="6m">6개월</option>
	</select>
	<select th:field="*{searchProgramCategory}" class="form-control" style="width:auto;">
		<option value="">프로그램카테고리(전체)</option>
		<option value="공연">공연</option>
		<option value="전시">전시</option>
		<option value="행사">행사</option>
	</select>
	<select th:field="*{searchBy}" class="form-control" style="width:auto;">
		<option value="name">프로그램명</option>
		<option value="createdBy">등록자</option>
	</select>
	<input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
	<button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
</div> -->
</form>
</div>
</div>

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	
</head>
<body>
</body>
</html>