<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
.fieldError {
	color: #bd2130;
}
</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){
			var errorMessage = [[${errorMessage}]];
			if(errorMessage != null){
				alert(errorMessage);
			}
			
			
		});
	</script>
</th:block>
<div layout:fragment="content">
	<div class="freeboard">
		<div class="free_title">
			<div class="title">
			</div>
		</div>
		<div class="free_content">
			<table>
				<thead>
					<tr>
						<td width="8">행사명</td>
						<td width="15%">시작일</td>
						<td width="15%">종료일</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${applicationList}">
						<td><a th:href="@{/boards/application/{name}(name=${list.name})}"><span th:text="${list.name}"></span></a></td>
						<td><span th:text="${list.startdate}"></span></td>
						<td><span th:text="${list.enddate}"></span></td>

						<!-- <td><span th:if="${list.registerTime == list.updateTime}"
							th:text="${#temporals.format(list.RegisterTime, 'yyyy-MM-dd HH:mm')}"></span>
							<span th:if="${list.registerTime != list.updateTime}"
							th:text="${#temporals.format(list.updateTime, 'yyyy-MM-dd HH:mm')}"></span>
						</td> -->
					</tr>
				</tbody>
			</table><br><br><br><br><br>
			<div class="pagebtn">
				<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
					<a th:if="${page==0? page==1 : page != nowPage}"
						th:href="@{/boards/application(page=${page-1})}" th:text="${page}"></a>
					<strong th:if="${page==nowPage}" th:text="${page}" style="color: red"></strong>
				</th:block>
			</div>
		</div>
	</div>
</div>
</html>

